
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@section background{
    <!-- main-slider -->
    <ul id="demo1">
        @foreach (var item in ViewBag.background)
        {
            <li>
                <img src="images/@item.Image" alt="@item.Name" />
                <!--Slider Description example-->
                <div class="slide-desc">
                    <h3>Buy Rice Products Are Now On Line With Us</h3>
                </div>
            </li>
        }
    </ul>
    <!-- //main-slider -->
}
 @await Component.InvokeAsync("TopSelling")

