@model IEnumerable<WebMarket.Models.ProductVM>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

@section background {
    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">@ViewBag.name</li>
            </ol>
        </div>
    </div>
    <!-- //breadcrumbs -->
}
<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            @await Component.InvokeAsync("Type", new { name = ViewBag.name })
        </div>
        <div class="col-md-8 products-right">
            <div class="products-right-grid">
                <div class="products-right-grids">
                    <div class="sorting">
                        <select id="country" class="frm-field required sect">
                            <option value=" ">All</option>
                            <option value="1"><i class="fa fa-arrow-right" aria-hidden="true"></i>Theo thứ tự tăng dần</option>
                            <option value="2"><i class="fa fa-arrow-right" aria-hidden="true"></i>Theo thứ tự giảm dần</option>
                            <option value="3"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sản phẩm giảm giá</option>
                            <option value="4"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sản phẩm bán chạy</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
            <div id="myparital">
                <partial name="_ProductPartialView" model="Model" />
            </div>
        </div>
    </div>
</div>





@section Scripts{ 
    <script src="~/js/sort.js"></script>
}